<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/vishizaki" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://br.linkedin.com/in/vinicius-ishizaki-0a258b31" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    ENERPEL Teleinformática
  </div>
</div>
