<div class="header-estoque">Você precisa ser administrador para acessar</div>
<div class="not-logged-in-body">
  <%= link_to "Logar como administrador", destroy_user_session_path, method: :delete, class:"btn btn-enerpel" %>
</div>