<div class="header-estoque">Controle de Registros</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Retornar ao Controle de Estoque', root_path, class:"btn btn-enerpel ml-4 mt-4 mb-4" %>
  
  <table class="index-table">
    <thead>
      <tr class="table-header pl-4">
        <th class="pl-4">Data e hora</th>
        <th class="text-left">Descrição do registro</th>
      </tr>
    </thead>
    <tbody>
    <% @record_logs.each do |record| %>
      <tr>
        <td class="pl-4"><%= record.date %></td>
        <td><%= record.title %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>